@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');


body{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  z-index: 1;
  background-image: url("./img/moon2.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.AboutImg{
  width: 550px;
}
.toWhite{
  color: white;
}
.GithubLogo{
  width: 45px;
}
.LinkedInLogo{
  width: 40px;
  margin-left: 10px;
}
.GithubLogo:hover,
.LinkedInLogo:hover {
  transform: scale(1.1);
}
.App {
  text-align: center;
  margin-left: -5%;
}

.contact{
  margin-bottom: 5%;
}

.App-header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  top:4em;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header h1{
font-size: 1em;
font-weight: 400;  
padding: 2em;
margin-right: 50em;
}
nav{
  position:fixed;
  left:60em;
  top:6em;
  z-index: 100;
  background-color: rgba(20, 20, 20, 0.6);
}
nav li{
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
}
nav li .link{
  text-decoration: none;
  color: white;
  padding:1em;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover{
  opacity: .5;
}
.active{
  color:white;
  opacity: 1;
}

.header-title button{
  background: white;
  border: 0px;
  padding: 1em 3em;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.header-title button:hover{
  opacity: 0.8;
}
.header-title button a{
  font-family: 'Open Sans', sans-serif;
  color:white;
  text-decoration: none;
}
.header-title{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  text-align: left;
  top:2em;
  margin-left: 15%;
}
.about{
  display: flex;
  flex-direction: row;
  color: white
}
.about-content{
  position: relative;
  left:10em;
}
.about-content h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.about-content p{
  font-size: 1.3em;
  text-align: left;
  width: 37em;
}
.about img{
  margin-left: 15em;
}
.work{
  position: relative;
  display: flex;
  flex-direction: column;
  left:15em;
  top:8em;
  align-items: flex-start;
  margin: auto;
}
.work .heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
  color: white;
}
.work-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2em;
}
.project{
  color: white; 
}
.project img{
width: 30em;  
height: 30em;
filter: grayscale(85%);
}
.project img:hover{
  filter: none;
  box-shadow: 4px 4px 10px 2px white;
}
.contact{
  position: relative;
  top:20em;
  left:15em;
  text-align: left;
  color: white;
}
.contact h1{
    font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.amazing-color{
  color:white;
  opacity: 1;
}

.contact .email{
  color:white;
  font-size: 2em;
}
.contact li{
  display: inline-block;
  margin-top:0;
  margin-bottom: 0;
  margin-right: 1em;
  margin-left: 0;
}
 .cv, 
 .email {
  color:white;
  font-size: 2em;
}
.cv:hover,
.email:hover {
  color: purple;
}
.footer{
  position: relative;
  top:2em;
  padding: 1em;
}
.footer a{
  text-decoration: none;
  color:white;
}
.project a {
  color: white;
  text-decoration: none;
}
.gitLink:hover {
  transform: scale(1.1);
  opacity: .5;
}
.projectInfo{
  background-color: rgba(20, 20, 20, 0.6);
}


/* Mobile media queries */
@media only screen and (min-width: 320px) and (max-width : 767px){

  .GithubLogo{
    width: 25px;
    float: left;
  }
  
  .LinkedInLogo{
    width: 20px;
    float: left;
    margin-top: -14px;
    margin-left: 25%;
  }

  body{
    font-size: 4px;
    text-align: center;
    box-sizing: content-box;
    width: 75%;
  }
  header h1{
font-size: 4em;  
padding: 1em;
margin-right: 0em;
}

nav{
  display: none;
}
.header-title{
  font-size: 3.5em;
  text-align: left;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-100em;
}
.about img{
 display: none;
}
.about-content{
  align-text: center;
  box-sizing: content-box;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 100%;
}

.work{
  left:2em;
  top:2em;
  align-items: center;
  color: white;
  margin-left: 35%;
  top: -90em;

}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5em;
  color: white;
  filter: none;
}
.project img{
width: 45em;  
height: 45em;
}

.contact{
  top:15em;
  box-sizing: content-box;
  width: 60%;
  text-align: center;
  top: -60em;
  }
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 3.5em;
  margin-left: -8%;
}
.contact li{
  display: block;
  padding: 2em;
}
.contact li a{
  font-size: 2.5em;
}
.project img{
  filter: none;
  }
  
}


