@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');


body{
  font-size: 16px;
  /*background: black;*/
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  z-index: 1;
  background-image: url("./img/moon2.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.AboutImg{
  width: 550px;
}
.toWhite{
  color: white;
}

.GithubLogo{
  width: 45px;
}

.LinkedInLogo{
  width: 40px;
  margin-left: 10px;
}

.App {
  text-align: center;
  margin-left: -5%;
}

.contact{
  margin-bottom: 5%;
}

.App-header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  top:4em;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header h1{
font-size: 1em;
font-weight: 400;  
padding: 2em;
margin-right: 50em;
}
nav{
  position:fixed;
  left:60em;
  top:6em;
  z-index: 100;
  background-color: rgba(20, 20, 20, 0.6);
}
nav li{
  display: inline-block;
  cursor: pointer;

}
nav li .link{
  text-decoration: none;
  color: white;
  padding:1em;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover{
  opacity: .5;
}
.active{
  color:white;
  opacity: 1;
}

.header-title button{
  background: white;
  border: 0px;
  padding: 1em 3em;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.header-title button:hover{
  opacity: 0.8;
}
.header-title button a{
  font-family: 'Open Sans', sans-serif;
  color:white;
  text-decoration: none;
}
.header-title{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  text-align: left;
  top:2em;
}
.about{
  display: flex;
  flex-direction: row;
  color: white
}
.about-content{
  position: relative;
  left:15em;
}
.about-content h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.about-content p{
  font-size: 1.3em;
  text-align: left;
  width: 37em;
}
.about img{
  margin-left: 15em;
}
.work{
  position: relative;
  display: flex;
  flex-direction: column;
  left:15em;
  top:8em;
  align-items: flex-start;
}
.work .heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
  color: white;
}
.work .work-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2em;
}
.project{
  color: white; 
}
.project img{
width: 30em;  
height: 30em;
}
.contact{
  position: relative;
  top:20em;
  left:15em;
  text-align: left;
  color: white;
}
.contact h1{
    font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.amazing-color{
  color:white;
  opacity: 1;
}

.contact .email{
  color:white;
  font-size: 2em;
}
.contact li{
  display: inline-block;
  margin-top:0;
  margin-bottom: 0;
  margin-right: 1em;
  margin-left: 0;
}
.contact li a{
  text-decoration: none;
  color:white;
}
.footer{
  position: relative;
  top:2em;
  padding: 1em;
}
.footer a{
  text-decoration: none;
  color:white;
}


/* SMARTPHONE MEDIA QUERIES*/
@media only screen and (min-width: 320px) and (max-width : 1024px){

  .GithubLogo{
    width: 25px;
    float: left;
    margin-right: 10px;
  }
  
  .LinkedInLogo{
    width: 20px;
    float: left;
    margin-top: -22px;
  }

  body{
    font-size: 6px;
  }
  header h1{
font-size: 3em;  
padding: 1em;
margin-right: 0em;
}

nav{
  display: none;
}
.header-title{
  font-size: 3em;
  text-align: left;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-30em;
}
.about img{
  display: none
}
.about-content{
  left:2em;
  margin-left: 9%;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 300px;
}

.work{
  left:2em;
  top:2em;
  align-items: center;
  color: white;
  margin-left: 2%;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5em;
  color: white;
}
.project img{
width: 45em;  
height: 45em;
}

.contact{
  top:15em;
}
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 3.5em;
}

.contact li{
  display: block;
  padding: 2em;
}
.contact li a{
  font-size: 2.5em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 2em;
}


}

/* iPads*/
@media only screen and (min-width : 1025px) {


body{
    font-size: 10px;
  }
header h1{
font-size: 5em;  
padding: 1em;
margin-right: 0em;
}

nav{
  display: none;
}
.header-title{
  font-size: 3.6em;
  text-align: left;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-10em;
}
.about img{
  display: none
}
.about-content{
  left:6em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 700px;
}

.work{
  left:6em;
  top:4em;
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
}
.project img{
width: 30em;  
height: 30em;
}

.contact{
  top:15em;
  left:6em;
}
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 3.5em;
}

.contact li{
  display: block;
  padding: 2em;
}
.contact li a{
  font-size: 2.5em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 2em;
}

}

/* Large screens ----------- 
@media only screen  and (min-width : 1025px) {
/* Styles 



body{
    font-size: 20px;
  }
  header h1{
    font-size: 3em;
    margin-right: 25em;
  }


  nav{
  left:60em;
  top:12em;
  z-index: 100;
}
nav li{
   font-size: 3em;

}
.header-title{
  font-size: 5em;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-20em;
}
.about-content{
  left:10em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 25em;
}
.about img{
  margin-left: 1em;
}

.work{
  left:10em;
  top:4em;
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.project img{
width: 32em;  
height: 32em;
}

.contact{
  top:10em;
  left:8em;
}
.contact h1{
  font-size: 8em;
}
.contact .email{
  font-size: 5em;
}

.contact li a{
  font-size: 4em;
  padding: 1em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 4em;
}

}*/
